<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>ChatGPT prompts</title>
</head>
<body>

<div class="container">
    <h2>ChatGPT API Usage Demo</h2>

    <div class="container">
        <h2>Open AI Demo</h2>

        <div class="container">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Ask me! (simple)</h5>
                    <form id="form-joke" class="container">
                        <div class="row">
                            <p class="card-text">Ask me about WoW classic.</p>
                            <label for="about">Topic</label>
                            <textarea id="about" class="result" placeholder="Enter your question here..."></textarea>
                        </div>
                        <div class="row mt-3">
                            <div class="column text-end">
                                <button type="submit" class="btn btn-primary" id="btn-get-joke">Send question</button>
                            </div>
                        </div>
                    </form>
                    <div id="spinner1" class="spinner-border text-success" role="status" style="margin-left:1em;border-radius: 50%;display:none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p id="result" class="result"></p>

                    <div class="response-area">
                        <textarea readonly></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/index.js"></script>

</body>
</html>

