<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>ChatGPT prompts</title>
</head>
<body>

<form id="question-form">
    <div class="question-area">
        <label for="question-input">Your Question:</label><br>
        <textarea id="question-input" name="question" rows="6" cols="50" placeholder="Type your question here..."></textarea>
    </div>

    <div class="button">
        <div class="column text-center">
            <button type="submit" class="custom-blue-btn">Ask question</button>
        </div>
    </div>
</form>

<div class="question-area">
    <label for="question-input">Your answer:</label><br>
    <textarea id="question-input" name="question" rows="6" cols="50" placeholder="Your answers goes here..."></textarea>
</div>



<div class="response-area" id="response-area">
    <!-- This will show the answer later -->
</div>


</body>

<script src="../js/index.js"></script>

</html>